

<div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2 class="text-center">Edit Product</h2>
          <form [formGroup] = "editprodInfo" (ngSubmit)="onSubmit(editprodInfo)">
              <div class="form-group">
                <label for="">Code</label>
                <input formControlName="code" placeholder=""  class="form-control mb-4">
                <label for="">price</label>
                <input formControlName="price" placeholder=""  class="form-control mb-4">
                <label for="">prodName</label>
                <input formControlName="prodName" placeholder=""  class="form-control mb-4">
                <button class="btn btn-primary" type="submit" (click)="onSubmit(editprodInfo)">save</button>
              </div>
          </form>
      </div>
    </div>
  </div>